<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ end }}</title>
    <meta http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" type="text/css" href="{{ "css/pd-v0.1.css" | absURL }}" media="screen">
    <link rel="icon" type="image/png" href="{{ "favicon.ico" | absURL }}">
  </head>
  <body>
    <div id=corpus>
      <header>{{ block "header" . }}{{ end }}</header>
      <main>{{ block "main" . }}{{ .Content | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" > &#128279</a> ${3}` | safeHTML }}{{ end}}</main>
      <footer>{{ block "footer" . }}{{ end }}</footer>
    </div>
    <script src="{{ "js/pd-v0.1.js" | absURL }}"></script>	
  </body>
</html>

