<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" type="text/css" href="{{ "css/pd-v0.1.css" | absURL }}" media="screen">
    <link rel="icon" type="image/png" href="{{ "favicon.ico" | absURL }}">
  </head>
  <body>
    <div id=corpus>
      <header>{{ block "header" . }}{{ end }}</header>
      <main>{{ block "main" . }}{{ .Content }}{{ end}}</main>
      <footer>{{ block "footer" . }}{{ end }}</footer>
    </div>
    <script src="{{ "js/pd-v0.1.js" | absURL }}"></script>
  </body>
</html>
