{{ $pages := site.Pages }}
{{ $section := .Section }}



{{ with .Params }}

  {{ with .aliases }}
  {{ range $elem_description := . }}
  <p>Abbreviation: <b>[{{$elem_description}}]</b></p>
  {{ end }}
  {{ end }}

<div class="object-reference">
  <hr>
  {{ with .inlets }}<div id="inlets"  class="reference-iolets"><h4>INLETs </h4>{{ with .remark}}{{.}}{{else}}<ul>{{ partial "object-reference/iolets" .}}</ul>{{ end }}</div>{{ end }}
  {{ with .outlets}}<div id="outlets" class="reference-iolets"><h4>OUTLETs</h4>{{ with .remark}}{{.}}{{else}}<ul>{{ partial "object-reference/iolets" .}}</ul>{{ end }}</div>{{ end }}
  

  {{ with .arguments }}
  <div id="arguments"  class="reference-arguments">
  <h4>ARGUMENTs</h4>
  <ol>
  {{ range . }}
  <li>
  <mark>{{.type}}</mark> - {{.description}}
  </li>
  {{ end }}
  </ol>
  </div>
  {{ end }}
  
  {{ with .flags }}
  <div id="flags"  class="reference-flags">
  <h4>FLAGs</h4> 
  {{ range . }}
  <li>
  <mark>{{.flag}}</mark> - {{.description}}
  </li>
  {{ end }}
   </div>
  {{ end }}
  
  {{ with .methods }}
  <div id="methods"  class="reference-flags">
  <h4>METHODs</h4> 
  {{ range . }}
  <li>
  <mark>{{.method}}</mark> - {{.description}}
  </li>
  {{ end }}
   </div>
  {{ end }}

  </br>

  {{ with .last_update }}
  <div class="reference-lastupdate">
    <blockquote><p>Last updated for Pd-{{.}}</p></blockquote>
  </div>
  {{end}}

  {{ with .see_also }}
  <div id="reference-seealso">
    {{/* LATER use 'delimit' to generate a nicer string */}}
    <blockquote><p> see also:
    {{ range where (where $pages "Section" $section) "Title" "in" . }}
    <a href="{{ partial "plink.html" . }}">[{{replace .Title " " "\u00a0"}}]</a>
    {{end}}
	</p></blockquote>
  </div>
  {{end}}
  <hr>
</div>
{{end}}
