<div id="reference">
  {{ with .inlets }}  <h3>INLETs</h3>{{ partial "object-iolets" .}}  {{ end }}
  {{ with .outlets }}  <h3>OUTLETs</h3>{{ partial "object-iolets" .}}  {{ end }}

  {{ with .arguments }}
  <h3>ARGUMENTs</h3>
  <dl>
  {{ range $elem_definition, $elem_description := . }}
  <dt><tt>{{$elem_definition}}</tt></dt><dd>{{$elem_description}}</dd>
  {{ end }}
  </dl>
  {{ end }}

  {{ with .last_update }}
  <p>Last updated for Pd-{{.}}</p>
  {{end}}

  {{ with .see_also }}
  <div id="see-also">
    {{/* LATER use 'delimit' to generate a nicer string */}}
    see also: {{ range . }}
    <a href="../{{.}}">[{{.}}]</a>
    {{end}}
  </div>
  {{end}}
  <hr>
</div>
